.App {
    display: flex;;
}
.LoginColumn {
    flex: 15%;;
}
.MainColumn {
    flex: 85%;
}

.GridView {
    display: grid;
    grid-gap: 5px;
    grid-template-columns:repeat(auto-fit, minmax(200px , 1fr));
}

.ImagePreview {
    width: 200px;
    height: 200px;
}

