.imgpr
{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title
{
    font-weight: bold;
    clear: left;
    width: 150px;
    display: inline-block
}